@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Inter:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav {
  width: 100%;
  height: 50px;
  box-shadow: 3px 3px 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
  transition: 0.3s;
}
nav > img {
  width: 50px;
  margin-right: auto;
  margin-left: 10px;
}
.navigasi {
  margin-right: 5px;
}
.navigasi > a {
  text-decoration: none;
  color: #1fde8f;
  font-size: 12px;
  margin-right: 4px;
}
.navigasi > a:hover {
  color: black;
}
.navigasi > a:nth-child(2) {
  margin-right: -10px;
}
.navigasi > a:nth-child(3) > img {
  width: 15px;
  position: relative;
  left: 50px;
  top: -10px;
}
main {
  background-color: #1fde8f;
  width: 100%;
  height: 202px;
}
main > img {
  margin-top: -168px;
  border-top-right-radius: 100vh;
  width: 205px;
  height: 205px;
}
.font-top {
  margin-left: 200px;
  font-family: Hammersmith One;
}
.font-top > p {
  margin-top: 60px;
  color: #05273f;
  font-size: 16px;
}
.font-top > h3 {
  margin-top: 20px;
  margin-left: 10px;
  color: #05273f;
  font-size: 12px;
}
.Tentang-kami {
  width: 100%;
}
.tentang-kami-img {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tentang-kami-img > img {
  width: 90px;
}
.star {
  margin-top: -8px;
  margin-bottom: -9px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star > img {
  margin: 20px;
  width: 16px;
}
.rekomendasi {
  padding: 10px;
  width: 100%;
}
.left {
  padding-right: 5px;
  width: 50%;
}
.left > h3 {
  font-weight: bold;
  font-size: 7px;
}
.left > h4 {
  font-size: 8px;
}
.right {
  width: 50%;
}
.right > img {
  width: 100%;
  height: 120px;
}
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-color: #ff3d3d;
  height: 40px;
  width: 100%;
}
.discount > span {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

@media only screen and (min-width: 1300px) {
  nav {
    width: 100%;
    height: 90px;
    box-shadow: 3px 3px 7px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    transition: 0.3s;
  }
  nav > img {
    width: 90px;
    margin-right: auto;
    margin-left: 80px;
  }
  .navigasi {
    margin-right: 60px;
  }
  .navigasi > a {
    text-decoration: none;
    color: #1fde8f;
    font-size: 25px;
    margin-right: 50px;
  }
  .navigasi > a:hover {
    color: black;
  }
  .navigasi > a:nth-child(2) {
    margin: 0;
  }
  .navigasi > a:nth-child(3) > img {
    width: 40px;
    position: relative;
    left: 120px;
    top: -22px;
  }
  main {
    background-color: #1fde8f;
    width: 100%;
    height: 720px;
  }
  main > img {
    border-top-right-radius: 100vh;
    width: 60%;
    height: 95%;
    margin-top: -480px;
  }
  .font-top {
    margin-left: 750px;
    font-family: Hammersmith One;
  }
  .font-top > p {
    margin-top: 200px;
    color: #05273f;
    font-size: 53px;
  }
  .font-top > h3 {
    margin-top: 120px;
    margin-left: 130px;
    color: #05273f;
    font-size: 35px;
  }
}
