@media only screen and (min-width: 881px) and (max-width: 1000px) {
  nav {
    width: 100%;
    height: 90px;
    box-shadow: 3px 3px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    transition: 0.3s;
  }
  nav > img {
    width: 85px;
    margin-right: auto;
    margin-left: 30px;
  }
  .navigasi {
    margin-right: 20px;
  }
  .navigasi > a {
    text-decoration: none;
    color: #1fde8f;
    font-size: 25px;
    margin-right: 30px;
  }
  .navigasi > a:hover {
    color: black;
  }
  .navigasi > a:nth-child(2) {
    margin-right: -10px;
  }
  .navigasi > a:nth-child(3) > img {
    width: 30px;
    position: relative;
    left: 110px;
    top: -19px;
  }
  .main {
    background-color: #1fde8f;
    width: 100%;
    height: 520px;
    margin-top: -10px;
  }
  .main > img {
    margin-top: -274px;
    border-top-right-radius: 100vh;
    width: 45%;
    height: 441px;
  }
  .font-top {
    margin-left: 460px;
    font-family: Hammersmith One;
  }
  .font-top > p {
    padding-top: 220px;
    color: #05273f;
    font-size: 200%;
  }
  .font-top > h3 {
    margin-top: 50px;
    margin-left: 30px;
    color: #05273f;
    font-size: 140%;
  }
  .Tentang-kami {
    width: 100%;
  }
  .tentang-kami-img {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tentang-kami-img > img {
    width: 190px;
  }
  .star {
    margin-top: -8px;
    margin-bottom: -9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .star > img {
    margin: 50px;
    width: 35px;
  }
  .rekomendasi {
    padding: 10px;
    width: 100%;
  }
  .left {
    padding-right: 5px;
    width: 50%;
  }
  .left > h3 {
    font-weight: bold;
    font-size: 120%;
  }
  .left > h4 {
    font-size: 120%;
  }
  .right {
    width: 50%;
  }
  .right > img {
    width: 100%;
  }
  .discount {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3d3d;
    height: 60px;
    width: 100%;
  }
  .discount > span {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  .layanan {
    width: 100%;
  }
  .layanan-top {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .layanan-top > h1 {
    margin-top: 18px;
    font-family: Itim;
    font-size: 30px;
  }
  .gb-layanan {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layanan-gambar {
    padding: 2px;
    border-radius: 10px;
    background-color: #2ece8c;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layanan-gambar > img:first-child {
    width: 60px;
    margin-left: -175px;
    margin-top: -50px;
  }
  .layanan-gambar > img:nth-child(2) {
    width: 130px;
    padding-bottom: 15px;
  }
  .layanan-gambar > span {
    color: white;
    font-size: 26px;
    font-family: Itim;
    text-decoration: #1fde8f;
  }
  .layanan-gambar:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .span-layanan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .isi-layanan {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .atas {
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
  }
  .bawah {
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
  }
  .reservasi {
    background-color: rgb(44, 182, 125, 0.5);
    width: 100%;
    height: 800px;
    display: flex;
  }
  .reservasi > img {
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
  .rectangle {
    position: absolute;
    background-color: rgb(44, 182, 125, 0.1);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .judul {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .judul-atas > h1 {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: Viga;
    font-size: 25px;
    margin-left: 10px;
  }
  .judul-bawah > h3 {
    margin-top: 10px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: Viga;
    font-size: 16px;
    font-weight: 20px;
  }
  .container {
    object-fit: contain;
    width: 100%;
    height: 640px;
    background-color: white;
    border-radius: 10px;
  }
  .container > div:nth-child(1),
  .container > div:nth-child(2),
  .container > div:nth-child(3),
  .container > div:nth-child(4) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      font-weight: lighter;
      padding: 7px;
      margin-top: 2px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
  }
  .container > div:nth-child(5) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      padding: 7px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
  }
  .container > div:nth-child(6) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      padding: 10px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 150px;
      border-radius: 5px;
    }
  }
  .container > button {
    margin-top: 13px;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 5px;
    background: #3da9fc;
    font-family: Heebo;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }
  .footer {
    width: 100%;
    height: 400px;
    background: #7f5af033;
    padding: 7px;
  }
  .left-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
  }
  .middle-left-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
  }
  .middle-right-footer,
  .left-footer {
    margin-left: 10%;
  }
  .left-footer > span {
    margin-top: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }
  .right-footer,
  .middle-left-footer {
    margin-left: 20%;
  }
  .middle-left-footer > a {
    margin-top: 10px;
    font-size: 17px;
    color: #000;
  }
  .top-footer {
    margin-top: 15px;
    height: 180px;
    width: 100%;
  }
  .bottom-footer {
    height: 180px;
    width: 100%;
  }
  .middle-right-footer,
  .right-footer,
  .left-footer,
  .middle-left-footer {
    width: 45%;
    height: 180px;
  }
  .middle-right-footer > span {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
  }
  .right-footer > img {
    width: 35px;
    margin-right: 20px;
    margin-bottom: auto;
  }
  .right-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    margin-top: 8px;
  }
  .copyright {
    width: 100%;
    height: 30px;
    background-color: rgb(65, 53, 65);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright > span {
    color: white;
    font-size: 100%;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1259px) {
  nav {
    width: 100%;
    height: 90px;
    box-shadow: 3px 3px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: white;
    transition: 0.3s;
  }
  nav > img {
    width: 85px;
    margin-right: auto;
    margin-left: 30px;
  }
  .navigasi {
    margin-right: 20px;
  }
  .navigasi > a {
    text-decoration: none;
    color: #1fde8f;
    font-size: 25px;
    margin-right: 30px;
  }
  .navigasi > a:hover {
    color: black;
  }
  .navigasi > a:nth-child(2) {
    margin-right: -10px;
  }
  .navigasi > a:nth-child(3) > img {
    width: 30px;
    position: relative;
    left: 110px;
    top: -19px;
  }
  .main {
    background-color: #1fde8f;
    width: 100%;
    height: 570px;
    margin-top: -10px;
  }
  .main > img {
    margin-top: -303px;
    border-top-right-radius: 100vh;
    width: 45%;
    height: 491px;
  }
  .font-top {
    margin-left: 520px;
    font-family: Hammersmith One;
  }
  .font-top > p {
    padding-top: 220px;
    color: #05273f;
    font-size: 220%;
  }
  .font-top > h3 {
    margin-top: 70px;
    margin-left: 30px;
    color: #05273f;
    font-size: 165%;
  }
  .Tentang-kami {
    width: 100%;
  }
  .tentang-kami-img {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tentang-kami-img > img {
    width: 190px;
  }
  .star {
    margin-top: -8px;
    margin-bottom: -9px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .star > img {
    margin: 50px;
    width: 35px;
  }
  .rekomendasi {
    padding: 10px;
    width: 100%;
  }
  .left {
    padding-right: 5px;
    width: 50%;
  }
  .left > h3 {
    font-weight: bold;
    font-size: 120%;
  }
  .left > h4 {
    font-size: 120%;
  }
  .right {
    width: 50%;
  }
  .right > img {
    width: 100%;
  }
  .discount {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3d3d;
    height: 60px;
    width: 100%;
  }
  .discount > span {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

  .layanan {
    width: 100%;
  }
  .layanan-top {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .layanan-top > h1 {
    margin-top: 18px;
    font-family: Itim;
    font-size: 30px;
  }
  .gb-layanan {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layanan-gambar {
    padding: 2px;
    border-radius: 10px;
    background-color: #2ece8c;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layanan-gambar > img:first-child {
    width: 60px;
    margin-left: -175px;
    margin-top: -50px;
  }
  .layanan-gambar > img:nth-child(2) {
    width: 130px;
    padding-bottom: 15px;
  }
  .layanan-gambar > span {
    color: white;
    font-size: 26px;
    font-family: Itim;
    text-decoration: #1fde8f;
  }
  .layanan-gambar:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .span-layanan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .isi-layanan {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .atas {
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
  }
  .bawah {
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
  }
  .reservasi {
    background-color: rgb(44, 182, 125, 0.5);
    width: 100%;
    height: 800px;
    display: flex;
  }
  .reservasi > img {
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
  .rectangle {
    position: absolute;
    background-color: rgb(44, 182, 125, 0.1);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .judul {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .judul-atas > h1 {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: Viga;
    font-size: 25px;
    margin-left: 10px;
  }
  .judul-bawah > h3 {
    margin-top: 10px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: Viga;
    font-size: 16px;
    font-weight: 20px;
  }
  .container {
    object-fit: contain;
    width: 100%;
    height: 640px;
    background-color: white;
    border-radius: 10px;
  }
  .container > div:nth-child(1),
  .container > div:nth-child(2),
  .container > div:nth-child(3),
  .container > div:nth-child(4) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      font-weight: lighter;
      padding: 7px;
      margin-top: 2px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
  }
  .container > div:nth-child(5) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      padding: 7px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 40px;
      border-radius: 5px;
    }
  }
  .container > div:nth-child(6) {
    > label {
      margin: 7px 0px 0px 3px;
      color: #010101;
      text-align: center;
      font-family: Heebo;
      font-size: 19px;
      font-weight: 400;
    }
    > input {
      font-size: 17px;
      padding: 10px;
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 150px;
      border-radius: 5px;
    }
  }
  .container > button {
    margin-top: 13px;
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 5px;
    background: #3da9fc;
    font-family: Heebo;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
  }
  .footer {
    width: 100%;
    height: 400px;
    background: #7f5af033;
    padding: 7px;
  }
  .left-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
  }
  .middle-left-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
  }
  .middle-right-footer,
  .left-footer {
    margin-left: 10%;
  }
  .left-footer > span {
    margin-top: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
  }
  .right-footer,
  .middle-left-footer {
    margin-left: 20%;
  }
  .middle-left-footer > a {
    margin-top: 10px;
    font-size: 17px;
    color: #000;
  }
  .top-footer {
    margin-top: 15px;
    height: 180px;
    width: 100%;
  }
  .bottom-footer {
    height: 180px;
    width: 100%;
  }
  .middle-right-footer,
  .right-footer,
  .left-footer,
  .middle-left-footer {
    width: 45%;
    height: 180px;
  }
  .middle-right-footer > span {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
  }
  .right-footer > img {
    width: 35px;
    margin-right: 20px;
    margin-bottom: auto;
  }
  .right-footer > h1 {
    color: #000;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    margin-top: 8px;
  }
  .copyright {
    width: 100%;
    height: 30px;
    background-color: rgb(65, 53, 65);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright > span {
    color: white;
    font-size: 100%;
  }
}
